@charset "UTF-8";
.mainHome .services .servicesContenido h3, .mainHome .services .servicesPlaneacion h3, .mainHome .services .servicesWeb h3, .mainHome .services .servicesPubli h3, .mainHome .services .servicesPr h3, .mainHome .services .servicesEventos h3, .mainHome .services .servicesDigital h3, .mainHome .services .servicesProdu h3 {
  position: absolute;
  bottom: 2vw;
  opacity: 1;
  text-align: center;
  padding: 20px; }

.mainHome .services .servicesContenido .servicesContenidoGif, .mainHome .services .servicesPlaneacion .servicesContenidoGif, .mainHome .services .servicesWeb .servicesContenidoGif, .mainHome .services .servicesPubli .servicesContenidoGif, .mainHome .services .servicesPr .servicesContenidoGif, .mainHome .services .servicesEventos .servicesContenidoGif, .mainHome .services .servicesDigital .servicesContenidoGif, .mainHome .services .servicesProdu .servicesContenidoGif {
  height: 7vw;
  width: 7vw;
  position: absolute;
  top: 3vw;
  opacity: 1; }
  .mainHome .services .servicesContenido .servicesContenidoGif img, .mainHome .services .servicesPlaneacion .servicesContenidoGif img, .mainHome .services .servicesWeb .servicesContenidoGif img, .mainHome .services .servicesPubli .servicesContenidoGif img, .mainHome .services .servicesPr .servicesContenidoGif img, .mainHome .services .servicesEventos .servicesContenidoGif img, .mainHome .services .servicesDigital .servicesContenidoGif img, .mainHome .services .servicesProdu .servicesContenidoGif img {
    border-radius: 100px; }

.mainHome .services .servicesContenido p, .mainHome .services .servicesPlaneacion p, .mainHome .services .servicesWeb p, .mainHome .services .servicesPubli p, .mainHome .services .servicesPr p, .mainHome .services .servicesEventos p, .mainHome .services .servicesDigital p, .mainHome .services .servicesProdu p {
  position: relative;
  opacity: 0;
  padding: 15px; }

.mainHome .services .servicesContenido:hover, .mainHome .services .servicesPlaneacion:hover, .mainHome .services .servicesWeb:hover, .mainHome .services .servicesPubli:hover, .mainHome .services .servicesPr:hover, .mainHome .services .servicesEventos:hover, .mainHome .services .servicesDigital:hover, .mainHome .services .servicesProdu:hover {
  animation: movimiento 2s; }
  .mainHome .services .servicesContenido:hover .servicesContenidoGif, .mainHome .services .servicesPlaneacion:hover .servicesContenidoGif, .mainHome .services .servicesWeb:hover .servicesContenidoGif, .mainHome .services .servicesPubli:hover .servicesContenidoGif, .mainHome .services .servicesPr:hover .servicesContenidoGif, .mainHome .services .servicesEventos:hover .servicesContenidoGif, .mainHome .services .servicesDigital:hover .servicesContenidoGif, .mainHome .services .servicesProdu:hover .servicesContenidoGif, .mainHome .services .servicesContenido:hover h3, .mainHome .services .servicesPlaneacion:hover h3, .mainHome .services .servicesWeb:hover h3, .mainHome .services .servicesPubli:hover h3, .mainHome .services .servicesPr:hover h3, .mainHome .services .servicesEventos:hover h3, .mainHome .services .servicesDigital:hover h3, .mainHome .services .servicesProdu:hover h3 {
    opacity: 0; }
  .mainHome .services .servicesContenido:hover p, .mainHome .services .servicesPlaneacion:hover p, .mainHome .services .servicesWeb:hover p, .mainHome .services .servicesPubli:hover p, .mainHome .services .servicesPr:hover p, .mainHome .services .servicesEventos:hover p, .mainHome .services .servicesDigital:hover p, .mainHome .services .servicesProdu:hover p {
    opacity: 1; }

/* LINEAS HORIZONTALES */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

/* GENERALES */
body {
  background-color: black; }
  body a {
    text-decoration: none; }
  body img {
    max-width: 100%; }
  body p {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 1.1vw; }
  body h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 5vw;
    font-weight: 800;
    text-align: center; }
  body h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 1.9vw;
    font-weight: bolder;
    text-shadow: #424242 0px 0px 10px; }

header {
  position: sticky;
  top: 0px;
  z-index: 20;
  /** Logo **/ }
  header nav div a img {
    width: 4vw;
    margin-left: 20px; }

.whatsappNM {
  width: 4.5vw;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 19; }

/* NAV BS */
.bg-dark {
  background-color: black !important;
  height: 5vw;
  border-bottom: solid 1px #272727;
  box-shadow: black 0px 0px 10px; }
  .bg-dark .navBsUl {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 1.1vw;
    font-family: "Plus Jakarta Sans", sans-serif; }
    .bg-dark .navBsUl li {
      padding: 1.5%; }
      .bg-dark .navBsUl li a {
        border-top: solid 3px transparent; }
      .bg-dark .navBsUl li a:hover {
        border-top: solid 3px pink; }

/* HOME */
.mainHome {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 95vh auto 100vh auto 0vh;
  grid-template-areas: "presentacion" "servicios" "adn" "clientes" "contacto";
  /** Presentación **/
  /** Sevicios **/
  /** ADN **/
  /** Clientes: en partial _carousel **/
  /** Contacto **/ }
  .mainHome .presentacion {
    grid-area: presentacion;
    width: 100%;
    color: #fff;
    background: linear-gradient(45deg, #67EBFA, #9BFBE1, #FDDF7E, #FAA990, #F6A5EB, #CE97FB);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-out infinite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px; }

@keyframes cambiar {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }
    .mainHome .presentacion .otraPresentacionH {
      width: 50%;
      align-self: flex-start;
      padding-top: 5vw; }
      .mainHome .presentacion .otraPresentacionH p {
        font-family: "Times New Roman", Times, serif;
        color: rgba(255, 255, 255, 0.605);
        font-size: 5vw;
        font-style: italic;
        margin-bottom: -2.5vw;
        margin-left: -15px; }
      .mainHome .presentacion .otraPresentacionH h1 {
        font-size: 5vw;
        color: black;
        font-weight: 900;
        font-family: "Plus Jakarta Sans", sans-serif;
        line-height: 0.9; }
      .mainHome .presentacion .otraPresentacionH .otraPresentacionHContainer {
        display: flex;
        height: auto;
        width: 70%;
        justify-content: center;
        padding: 1vw;
        background-color: rgba(255, 255, 255, 0.441);
        border-radius: 15px;
        margin-top: 9vw; }
        .mainHome .presentacion .otraPresentacionH .otraPresentacionHContainer #subtitle {
          font-family: "Plus Jakarta Sans", sans-serif;
          font-style: normal;
          font-size: 1.2vw;
          color: black;
          padding-left: 30px; }
        .mainHome .presentacion .otraPresentacionH .otraPresentacionHContainer #otraPresentacionHContainerGif {
          width: 3.5vw;
          height: 3.5vw; }
          .mainHome .presentacion .otraPresentacionH .otraPresentacionHContainer #otraPresentacionHContainerGif img {
            border-radius: 100px; }
    .mainHome .presentacion .otraPresentacionDownald {
      text-align: center;
      align-self: flex-end;
      padding-bottom: 60px; }
      .mainHome .presentacion .otraPresentacionDownald .otraPresentacionDownaldGif {
        width: 23vw;
        height: 23vw;
        box-shadow: rgba(0, 0, 0, 0.612) 10px 10px 10px; }
        .mainHome .presentacion .otraPresentacionDownald .otraPresentacionDownaldGif img {
          min-width: 100%;
          border-radius: 5px; }
  .mainHome .services {
    grid-area: servicios;
    padding: 30px 10px;
    background-color: black;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: auto 20vw 20vw;
    grid-template-areas: "encabezado encabezado encabezado encabezado" "uno dos tres cuatro" "cinco seis siete ocho";
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 3vw;
    /*** Sevicios: animaciones ***/
    /*** Sevicios: cards y hover ***/ }
    .mainHome .services h2 {
      grid-area: encabezado;
      margin: 40px; }
    .mainHome .services p, .mainHome .services h3 {
      transition: all 100ms; }

@keyframes movimiento {
  from {
    opacity: 0; }
  50% {
    opacity: 0.5 !important; }
  to {
    opacity: 1; } }

@keyframes movimientoinverso {
  from {
    opacity: 0; }
  50% {
    opacity: 0.5 !important; }
  to {
    opacity: 1; } }
    .mainHome .services .servicesContenido {
      grid-area: uno;
      width: 100%;
      height: 100%;
      background-color: black;
      border: solid 6px transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      animation: movimientoinverso 2s; }
    .mainHome .services .servicesContenido:hover {
      border-image: linear-gradient(to bottom, #CE97FB, #67EBFA 100%) 1; }
    .mainHome .services .servicesPlaneacion {
      grid-area: dos;
      width: 100%;
      height: 100%;
      border: solid 6px transparent;
      padding-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      animation: movimientoinverso 2s; }
    .mainHome .services .servicesPlaneacion:hover {
      border-image: linear-gradient(to bottom, #FDDF7E, #FAA990 100%) 1; }
    .mainHome .services .servicesWeb {
      grid-area: tres;
      width: 100%;
      height: 100%;
      border: solid 6px transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      animation: movimientoinverso 2s; }
    .mainHome .services .servicesWeb:hover {
      border-image: linear-gradient(to bottom, #9BFBE1, #F6A5EB 100%) 1; }
    .mainHome .services .servicesPubli {
      grid-area: cuatro;
      width: 100%;
      height: 100%;
      border: solid 6px transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      animation: movimientoinverso 2s; }
    .mainHome .services .servicesPubli:hover {
      border-image: linear-gradient(to bottom, #CE97FB, #67EBFA 100%) 1; }
    .mainHome .services .servicesPr {
      grid-area: cinco;
      width: 100%;
      height: 100%;
      border: solid 6px transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      animation: movimientoinverso 2s;
      padding-top: 5px; }
    .mainHome .services .servicesPr:hover {
      border-image: linear-gradient(to bottom, #FDDF7E, #FAA990 100%) 1; }
    .mainHome .services .servicesEventos {
      grid-area: seis;
      width: 100%;
      height: 100%;
      border: solid 6px transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      animation: movimientoinverso 2s; }
    .mainHome .services .servicesEventos:hover {
      border-image: linear-gradient(to bottom, #9BFBE1, #F6A5EB 100%) 1; }
    .mainHome .services .servicesDigital {
      grid-area: siete;
      width: 100%;
      height: 100%;
      border: solid 6px transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      animation: movimientoinverso 2s; }
    .mainHome .services .servicesDigital:hover {
      border-image: linear-gradient(to bottom, #CE97FB, #67EBFA 100%) 1; }
    .mainHome .services .servicesProdu {
      grid-area: ocho;
      width: 100%;
      height: 100%;
      border: solid 6px transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      animation: movimientoinverso 2s; }
    .mainHome .services .servicesProdu:hover {
      border-image: linear-gradient(to bottom, #FDDF7E, #FAA990 100%) 1; }
  .mainHome .adn {
    grid-area: adn;
    color: #fff;
    background: linear-gradient(7deg, #67EBFA, #9BFBE1, #CE97FB);
    background-size: 400% 400%;
    padding-bottom: 5vw;
    text-align: center; }
    .mainHome .adn .tituloAdn {
      font-family: "Times New Roman", Times, serif;
      color: rgba(255, 255, 255, 0.605);
      font-size: 4vw;
      font-style: italic;
      margin: 4vw 0% -2.5vw -4vw; }
    .mainHome .adn .tituloAdn2 {
      margin-left: 7vw;
      font-size: 5vw;
      color: black;
      font-family: "Plus Jakarta Sans", sans-serif; }
    .mainHome .adn div {
      display: flex;
      justify-content: center;
      margin-top: 3vw;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 5vw; }
      .mainHome .adn div .card {
        display: flex;
        flex-direction: column;
        height: 25vw;
        width: 23vw;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.441);
        border-radius: 15px;
        padding: 0vh 4vh;
        margin: 0vh 4vh;
        border: none;
        box-shadow: rgba(77, 77, 77, 0.221) 0px 0px 10px; }
        .mainHome .adn div .card img {
          border-radius: 100px;
          width: 7vw;
          margin: 1vw; }
        .mainHome .adn div .card h4 {
          color: #000;
          font-size: 1.5vw;
          font-weight: 600; }
        .mainHome .adn div .card p {
          color: black;
          font-size: 1.2vw;
          text-align: justify;
          word-wrap: break-word;
          hyphens: auto; }
  .mainHome .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000; }
    .mainHome .contacto .titulo1 {
      font-family: 'Times New Roman', Times, serif;
      color: rgba(255, 255, 255, 0.605);
      font-size: 40px;
      font-style: italic;
      margin-bottom: -35px;
      margin-left: -15px; }
    .mainHome .contacto .titulo2 {
      margin-top: 3vh;
      font-size: 65px; }
  .mainHome .contactoFlex {
    background-color: #000; }
    .mainHome .contactoFlex .sede, .mainHome .contactoFlex .email, .mainHome .contactoFlex .whatsapp {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center; }
      .mainHome .contactoFlex .sede div, .mainHome .contactoFlex .email div, .mainHome .contactoFlex .whatsapp div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 2vh; }
      .mainHome .contactoFlex .sede p, .mainHome .contactoFlex .sede h3, .mainHome .contactoFlex .sede i, .mainHome .contactoFlex .email p, .mainHome .contactoFlex .email h3, .mainHome .contactoFlex .email i, .mainHome .contactoFlex .whatsapp p, .mainHome .contactoFlex .whatsapp h3, .mainHome .contactoFlex .whatsapp i {
        color: #fff;
        line-height: 1.2; }
        .mainHome .contactoFlex .sede p .a1, .mainHome .contactoFlex .sede h3 .a1, .mainHome .contactoFlex .sede i .a1, .mainHome .contactoFlex .email p .a1, .mainHome .contactoFlex .email h3 .a1, .mainHome .contactoFlex .email i .a1, .mainHome .contactoFlex .whatsapp p .a1, .mainHome .contactoFlex .whatsapp h3 .a1, .mainHome .contactoFlex .whatsapp i .a1 {
          text-decoration: none;
          color: #fff;
          transition: 1s; }
          .mainHome .contactoFlex .sede p .a1:hover, .mainHome .contactoFlex .sede h3 .a1:hover, .mainHome .contactoFlex .sede i .a1:hover, .mainHome .contactoFlex .email p .a1:hover, .mainHome .contactoFlex .email h3 .a1:hover, .mainHome .contactoFlex .email i .a1:hover, .mainHome .contactoFlex .whatsapp p .a1:hover, .mainHome .contactoFlex .whatsapp h3 .a1:hover, .mainHome .contactoFlex .whatsapp i .a1:hover {
            color: #CE97FB; }
        .mainHome .contactoFlex .sede p .a2, .mainHome .contactoFlex .sede h3 .a2, .mainHome .contactoFlex .sede i .a2, .mainHome .contactoFlex .email p .a2, .mainHome .contactoFlex .email h3 .a2, .mainHome .contactoFlex .email i .a2, .mainHome .contactoFlex .whatsapp p .a2, .mainHome .contactoFlex .whatsapp h3 .a2, .mainHome .contactoFlex .whatsapp i .a2 {
          text-decoration: none;
          color: #fff;
          transition: 1s; }
          .mainHome .contactoFlex .sede p .a2:hover, .mainHome .contactoFlex .sede h3 .a2:hover, .mainHome .contactoFlex .sede i .a2:hover, .mainHome .contactoFlex .email p .a2:hover, .mainHome .contactoFlex .email h3 .a2:hover, .mainHome .contactoFlex .email i .a2:hover, .mainHome .contactoFlex .whatsapp p .a2:hover, .mainHome .contactoFlex .whatsapp h3 .a2:hover, .mainHome .contactoFlex .whatsapp i .a2:hover {
            color: #9BFBE1; }

/*FOOTER*/
.footerDiv {
  height: auto;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Plus Jakarta Sans", sans-serif; }
  .footerDiv .divFooter1 {
    flex-direction: column;
    justify-items: start; }
    .footerDiv .divFooter1 .logo {
      width: 3vw; }
    .footerDiv .divFooter1 .divFooter1div1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 5vw; }

/*** Clientes - Carousel ***/
.clients {
  grid-area: clientes;
  padding: 40px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2vw 0vw 8vw 0vw; }

.clients h2 {
  margin-bottom: 60px; }

.clients .container {
  min-width: 100%; }

.slick-slide {
  margin: 0px 20px;
  width: 100%; }

.slick-slide img {
  width: 100%; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before, .slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.footerDiv {
  background-color: #0e0e0e;
  width: 100%;
  display: flex;
  align-items: start;
  padding: 5vh 0 2vh 0; }
  .footerDiv .divFooter1 {
    display: flex;
    flex-direction: column; }
    .footerDiv .divFooter1 a {
      display: flex;
      flex-direction: row;
      align-items: end;
      text-decoration: none; }
      .footerDiv .divFooter1 a p {
        color: #dbdada;
        font-size: 20px;
        font-weight: 600;
        transition: 1s; }
        .footerDiv .divFooter1 a p:hover {
          color: #CE97FB; }
    .footerDiv .divFooter1 p {
      color: #dbdada;
      font-size: 14px;
      line-height: 1.5; }
  .footerDiv .divFooter2 {
    display: flex;
    flex-direction: column; }
    .footerDiv .divFooter2 p {
      color: #dbdada;
      font-size: 16px;
      font-weight: 600; }
    .footerDiv .divFooter2 .l1 {
      transition: 1s;
      text-decoration: none;
      color: #dbdada;
      font-size: 12px; }
      .footerDiv .divFooter2 .l1:hover {
        color: #FDDF7E; }
    .footerDiv .divFooter2 .l2 {
      transition: 1s;
      text-decoration: none;
      color: #dbdada;
      font-size: 12px; }
      .footerDiv .divFooter2 .l2:hover {
        color: #FAA990; }
    .footerDiv .divFooter2 .l3 {
      transition: 1s;
      text-decoration: none;
      color: #dbdada;
      font-size: 12px; }
      .footerDiv .divFooter2 .l3:hover {
        color: #9BFBE1; }
    .footerDiv .divFooter2 .l4 {
      transition: 1s;
      text-decoration: none;
      color: #dbdada;
      font-size: 12px; }
      .footerDiv .divFooter2 .l4:hover {
        color: #CE97FB; }
    .footerDiv .divFooter2 i {
      transition: 1s;
      color: #dbdada;
      font-size: 12px; }
      .footerDiv .divFooter2 i:hover {
        color: #fff; }
  .footerDiv .divFooter3 {
    display: flex;
    flex-direction: column; }
    .footerDiv .divFooter3 p {
      color: #dbdada;
      font-size: 16px;
      font-weight: 600; }
    .footerDiv .divFooter3 .divFooter3div1 {
      display: flex;
      flex-direction: column; }
      .footerDiv .divFooter3 .divFooter3div1 .redesSocialesLogo {
        color: #dbdada;
        height: 2vh; }
      .footerDiv .divFooter3 .divFooter3div1 .e1 {
        transition: 1s;
        text-decoration: none;
        color: #dbdada;
        font-size: 12px; }
        .footerDiv .divFooter3 .divFooter3div1 .e1:hover {
          color: #CE97FB; }
      .footerDiv .divFooter3 .divFooter3div1 .e2 {
        transition: 1s;
        text-decoration: none;
        color: #dbdada;
        font-size: 12px; }
        .footerDiv .divFooter3 .divFooter3div1 .e2:hover {
          color: #F6A5EB; }
      .footerDiv .divFooter3 .divFooter3div1 .e3 {
        transition: 1s;
        text-decoration: none;
        color: #dbdada;
        font-size: 12px; }
        .footerDiv .divFooter3 .divFooter3div1 .e3:hover {
          color: #FDDF7E; }
      .footerDiv .divFooter3 .divFooter3div1 .e4 {
        transition: 1s;
        text-decoration: none;
        color: #dbdada;
        font-size: 12px; }
        .footerDiv .divFooter3 .divFooter3div1 .e4:hover {
          color: #FAA990; }

.credito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0e0e0e; }
  .credito .divLineal {
    width: 70%;
    height: 0;
    border-top: 0.1vh;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    margin: 0.5vh 0 0 0;
    display: flex;
    align-self: center;
    justify-self: center;
    border-color: #313131;
    border-style: solid; }
  .credito .copyright {
    font-size: 12px; }
  .credito p {
    margin: 1vh 0;
    color: #dbdada;
    font-size: 14px; }
    .credito p .a1 {
      color: #dbdada;
      text-decoration: none;
      transition: 1s; }
      .credito p .a1:hover {
        color: #9BFBE1; }
    .credito p .a2 {
      color: #dbdada;
      text-decoration: none;
      transition: 1s; }
      .credito p .a2:hover {
        color: #FAA990; }

/*MEDIA QUERY - DESKTOP*/
/*
@media screen and (min-width: 769px){


    //CONTACTO
    .contacto{
        justify-content: center;
        align-items: center;
        padding: 10vh 0;
    }

    .contactoFlex{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "sede email wpp";
        padding-bottom: 10vh;

        .sede{
            grid-area: sede;
        }

        .email{
            grid-area: email;
        }

        .whatsapp{
            grid-area: wpp;
        }

        p{
            font-size: 18px;
        }
    }
    
}
*/
