@charset "UTF-8";
.mainHome #servicios .services .servicesContenido h3, .mainHome #servicios .services .servicesPlaneacion h3, .mainHome #servicios .services .servicesWeb h3, .mainHome #servicios .services .servicesPubli h3, .mainHome #servicios .services .servicesPr h3, .mainHome #servicios .services .servicesEventos h3, .mainHome #servicios .services .servicesDigital h3, .mainHome #servicios .services .servicesProdu h3 {
  position: absolute;
  bottom: 2vw;
  opacity: 1;
  text-align: center;
  padding: 20px; }

.mainHome #servicios .services .servicesContenido .servicesContenidoGif, .mainHome #servicios .services .servicesPlaneacion .servicesContenidoGif, .mainHome #servicios .services .servicesWeb .servicesContenidoGif, .mainHome #servicios .services .servicesPubli .servicesContenidoGif, .mainHome #servicios .services .servicesPr .servicesContenidoGif, .mainHome #servicios .services .servicesEventos .servicesContenidoGif, .mainHome #servicios .services .servicesDigital .servicesContenidoGif, .mainHome #servicios .services .servicesProdu .servicesContenidoGif {
  height: 7vw;
  width: 7vw;
  position: absolute;
  top: 3vw;
  opacity: 1; }
  .mainHome #servicios .services .servicesContenido .servicesContenidoGif img, .mainHome #servicios .services .servicesPlaneacion .servicesContenidoGif img, .mainHome #servicios .services .servicesWeb .servicesContenidoGif img, .mainHome #servicios .services .servicesPubli .servicesContenidoGif img, .mainHome #servicios .services .servicesPr .servicesContenidoGif img, .mainHome #servicios .services .servicesEventos .servicesContenidoGif img, .mainHome #servicios .services .servicesDigital .servicesContenidoGif img, .mainHome #servicios .services .servicesProdu .servicesContenidoGif img {
    border-radius: 100px; }

.mainHome #servicios .services .servicesContenido p, .mainHome #servicios .services .servicesPlaneacion p, .mainHome #servicios .services .servicesWeb p, .mainHome #servicios .services .servicesPubli p, .mainHome #servicios .services .servicesPr p, .mainHome #servicios .services .servicesEventos p, .mainHome #servicios .services .servicesDigital p, .mainHome #servicios .services .servicesProdu p {
  position: relative;
  opacity: 0;
  padding: 15px; }

.mainHome #servicios .services .servicesContenido:hover, .mainHome #servicios .services .servicesPlaneacion:hover, .mainHome #servicios .services .servicesWeb:hover, .mainHome #servicios .services .servicesPubli:hover, .mainHome #servicios .services .servicesPr:hover, .mainHome #servicios .services .servicesEventos:hover, .mainHome #servicios .services .servicesDigital:hover, .mainHome #servicios .services .servicesProdu:hover {
  animation: movimiento 2s; }
  .mainHome #servicios .services .servicesContenido:hover .servicesContenidoGif, .mainHome #servicios .services .servicesPlaneacion:hover .servicesContenidoGif, .mainHome #servicios .services .servicesWeb:hover .servicesContenidoGif, .mainHome #servicios .services .servicesPubli:hover .servicesContenidoGif, .mainHome #servicios .services .servicesPr:hover .servicesContenidoGif, .mainHome #servicios .services .servicesEventos:hover .servicesContenidoGif, .mainHome #servicios .services .servicesDigital:hover .servicesContenidoGif, .mainHome #servicios .services .servicesProdu:hover .servicesContenidoGif, .mainHome #servicios .services .servicesContenido:hover h3, .mainHome #servicios .services .servicesPlaneacion:hover h3, .mainHome #servicios .services .servicesWeb:hover h3, .mainHome #servicios .services .servicesPubli:hover h3, .mainHome #servicios .services .servicesPr:hover h3, .mainHome #servicios .services .servicesEventos:hover h3, .mainHome #servicios .services .servicesDigital:hover h3, .mainHome #servicios .services .servicesProdu:hover h3 {
    opacity: 0; }
  .mainHome #servicios .services .servicesContenido:hover p, .mainHome #servicios .services .servicesPlaneacion:hover p, .mainHome #servicios .services .servicesWeb:hover p, .mainHome #servicios .services .servicesPubli:hover p, .mainHome #servicios .services .servicesPr:hover p, .mainHome #servicios .services .servicesEventos:hover p, .mainHome #servicios .services .servicesDigital:hover p, .mainHome #servicios .services .servicesProdu:hover p {
    opacity: 1; }

/* LINEAS HORIZONTALES */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

/* GENERALES */
body {
  background-color: black; }
  body a {
    text-decoration: none; }
  body img {
    max-width: 100%; }
  body p {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 1.1vw; }
  body h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 5vw;
    font-weight: 800;
    text-align: center; }
  body h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 1.9vw;
    font-weight: bolder;
    text-shadow: #424242 0px 0px 10px; }

header {
  position: sticky;
  top: 0px;
  z-index: 20;
  /** Logo **/ }
  header nav div a img {
    width: 4vw;
    margin-left: 20px; }

.whatsappfijo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 19;
  filter: drop-shadow(0 0.2vh 0.2vh #797979);
  color: #fff; }

.whatsappfijo:hover {
  color: #25D366; }

.contacto .btn {
  color: #fff;
  border: 3px solid;
  text-transform: uppercase;
  font-weight: 700;
  border-image: linear-gradient(to bottom, #CE97FB, #67EBFA 100%) 1;
  padding: 10px 20px; }
  .contacto .btn:hover {
    transform: scale(1.1);
    border-image: linear-gradient(to bottom, #67EBFA, #CE97FB 100%) 1;
    transition: 1s; }

/* NAV BS */
.bg-dark {
  background-color: black !important;
  height: 5vw;
  border-bottom: solid 1px #272727;
  box-shadow: black 0px 0px 10px; }
  .bg-dark .navBsUl {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 1.1vw;
    font-family: "Plus Jakarta Sans", sans-serif; }
    .bg-dark .navBsUl li {
      padding: 1.5%; }
      .bg-dark .navBsUl li a {
        border-top: solid 3px transparent; }
      .bg-dark .navBsUl li a:hover {
        border-top: solid 3px pink; }

/* HOME */
.mainHome {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 95vh auto 100vh auto auto;
  grid-template-areas: "presentacion" "servicios" "adn" "clientes" "contacto";
  /** Presentación **/
  /** Sevicios **/
  /** ADN **/
  /** Clientes: en partial _carousel **/
  /** Contacto **/ }
  .mainHome .presentacionContenedor {
    grid-area: presentacion;
    width: 100%;
    color: #fff;
    background: linear-gradient(45deg, #67EBFA, #9BFBE1, #FDDF7E, #FAA990, #F6A5EB, #CE97FB);
    background-size: 400% 400%;
    animation: cambiar 10s ease-out infinite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px; }

@keyframes cambiar {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }
    .mainHome .presentacionContenedor .presentacionH {
      width: 50%;
      align-self: flex-start;
      padding-top: 5vw;
      position: relative;
      height: 100%; }
      .mainHome .presentacionContenedor .presentacionH p {
        font-family: "Times New Roman", Times, serif;
        color: rgba(255, 255, 255, 0.605);
        font-size: 5vw;
        font-style: italic;
        margin-bottom: -2.5vw;
        margin-left: -15px; }
      .mainHome .presentacionContenedor .presentacionH h1 {
        font-size: 5vw;
        color: black;
        font-weight: 900;
        font-family: "Plus Jakarta Sans", sans-serif;
        line-height: 0.9; }
      .mainHome .presentacionContenedor .presentacionH .presentacionP {
        display: flex;
        height: auto;
        width: 70%;
        justify-content: center;
        padding: 1vw;
        background-color: rgba(255, 255, 255, 0.441);
        border-radius: 15px;
        margin-top: 9vw;
        position: absolute;
        bottom: 60px; }
        .mainHome .presentacionContenedor .presentacionH .presentacionP #presentacionPGif {
          width: 3.5vw;
          height: 3.5vw; }
          .mainHome .presentacionContenedor .presentacionH .presentacionP #presentacionPGif img {
            border-radius: 100px; }
        .mainHome .presentacionContenedor .presentacionH .presentacionP #presentacionPsubtitulo {
          font-family: "Plus Jakarta Sans", sans-serif;
          font-style: normal;
          font-size: 1.2vw;
          color: black;
          padding-left: 30px; }
      .mainHome .presentacionContenedor .presentacionH .presentacionFlecha {
        visibility: hidden; }
    .mainHome .presentacionContenedor .presentacionDescarga {
      text-align: center;
      align-self: flex-end;
      padding-bottom: 60px; }
      .mainHome .presentacionContenedor .presentacionDescarga .presentacionDescargaGif {
        width: 23vw;
        height: 23vw;
        box-shadow: rgba(0, 0, 0, 0.612) 10px 10px 10px; }
        .mainHome .presentacionContenedor .presentacionDescarga .presentacionDescargaGif img {
          min-width: 100%;
          border-radius: 5px; }
  .mainHome #servicios {
    grid-area: servicios; }
    .mainHome #servicios .services {
      padding: 30px 10px;
      background-color: black;
      display: grid;
      grid-template-columns: 23% 23% 23% 23%;
      grid-template-rows: auto 20vw 20vw;
      grid-template-areas: "encabezado encabezado encabezado encabezado" "uno dos tres cuatro" "cinco seis siete ocho";
      align-items: center;
      justify-content: center;
      position: relative;
      margin-bottom: 3vw;
      /*** Sevicios: animaciones ***/
      /*** Sevicios: cards y hover ***/ }
      .mainHome #servicios .services h2 {
        grid-area: encabezado;
        margin: 40px; }
      .mainHome #servicios .services p, .mainHome #servicios .services h3 {
        transition: all 100ms; }

@keyframes movimiento {
  from {
    opacity: 0; }
  50% {
    opacity: 0.5 !important; }
  to {
    opacity: 1; } }

@keyframes movimientoinverso {
  from {
    opacity: 0; }
  50% {
    opacity: 0.5 !important; }
  to {
    opacity: 1; } }
      .mainHome #servicios .services .servicesContenido {
        grid-area: uno;
        width: 100%;
        height: 100%;
        background-color: black;
        border: solid 6px transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        animation: movimientoinverso 2s; }
      .mainHome #servicios .services .servicesContenido:hover {
        border-image: linear-gradient(to bottom, #CE97FB, #67EBFA 100%) 1; }
      .mainHome #servicios .services .servicesPlaneacion {
        grid-area: dos;
        width: 100%;
        height: 100%;
        border: solid 6px transparent;
        padding-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        animation: movimientoinverso 2s; }
      .mainHome #servicios .services .servicesPlaneacion:hover {
        border-image: linear-gradient(to bottom, #FDDF7E, #FAA990 100%) 1; }
      .mainHome #servicios .services .servicesWeb {
        grid-area: tres;
        width: 100%;
        height: 100%;
        border: solid 6px transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        animation: movimientoinverso 2s; }
      .mainHome #servicios .services .servicesWeb:hover {
        border-image: linear-gradient(to bottom, #9BFBE1, #F6A5EB 100%) 1; }
      .mainHome #servicios .services .servicesPubli {
        grid-area: cuatro;
        width: 100%;
        height: 100%;
        border: solid 6px transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        animation: movimientoinverso 2s; }
      .mainHome #servicios .services .servicesPubli:hover {
        border-image: linear-gradient(to bottom, #CE97FB, #67EBFA 100%) 1; }
      .mainHome #servicios .services .servicesPr {
        grid-area: cinco;
        width: 100%;
        height: 100%;
        border: solid 6px transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        animation: movimientoinverso 2s;
        padding-top: 5px; }
      .mainHome #servicios .services .servicesPr:hover {
        border-image: linear-gradient(to bottom, #FDDF7E, #FAA990 100%) 1; }
      .mainHome #servicios .services .servicesEventos {
        grid-area: seis;
        width: 100%;
        height: 100%;
        border: solid 6px transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        animation: movimientoinverso 2s; }
      .mainHome #servicios .services .servicesEventos:hover {
        border-image: linear-gradient(to bottom, #9BFBE1, #F6A5EB 100%) 1; }
      .mainHome #servicios .services .servicesDigital {
        grid-area: siete;
        width: 100%;
        height: 100%;
        border: solid 6px transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        animation: movimientoinverso 2s; }
      .mainHome #servicios .services .servicesDigital:hover {
        border-image: linear-gradient(to bottom, #CE97FB, #67EBFA 100%) 1; }
      .mainHome #servicios .services .servicesProdu {
        grid-area: ocho;
        width: 100%;
        height: 100%;
        border: solid 6px transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        animation: movimientoinverso 2s; }
      .mainHome #servicios .services .servicesProdu:hover {
        border-image: linear-gradient(to bottom, #FDDF7E, #FAA990 100%) 1; }
    .mainHome #servicios .serviciosMobile {
      display: none; }
  .mainHome .adn {
    grid-area: adn;
    color: #fff;
    background: linear-gradient(7deg, #67EBFA, #9BFBE1, #CE97FB);
    background-size: 400% 400%;
    padding-bottom: 5vw;
    text-align: center; }
    .mainHome .adn .tituloAdn {
      font-family: "Times New Roman", Times, serif;
      color: rgba(255, 255, 255, 0.605);
      font-size: 4vw;
      font-style: italic;
      margin: 4vw 0% -2.5vw -4vw; }
    .mainHome .adn .tituloAdn2 {
      margin-left: 7vw;
      font-size: 5vw;
      color: black;
      font-family: "Plus Jakarta Sans", sans-serif; }
    .mainHome .adn div {
      display: flex;
      justify-content: center;
      margin-top: 3vw;
      font-family: "Plus Jakarta Sans", sans-serif;
      flex-wrap: wrap; }
      .mainHome .adn div .card {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 25%;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.441);
        border-radius: 15px;
        padding: 4vh 4vh 2vh 4vh;
        margin: 0vh 10px;
        border: none;
        box-shadow: rgba(77, 77, 77, 0.221) 0px 0px 10px; }
        .mainHome .adn div .card img {
          border-radius: 100px;
          width: 7vw;
          margin: 1vw; }
        .mainHome .adn div .card h4 {
          color: #000;
          font-size: 1.5vw;
          font-weight: 600; }
        .mainHome .adn div .card p {
          color: black;
          font-size: 1.2vw;
          text-align: justify;
          word-wrap: break-word;
          hyphens: auto; }
  .mainHome .contacto {
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 89px 0px; }
    .mainHome .contacto .contactoH {
      text-align: center; }
      .mainHome .contacto .contactoH p {
        font-family: "Times New Roman", Times, serif;
        color: white;
        opacity: 0.5;
        font-size: 30px;
        font-style: italic;
        margin-bottom: -15px; }
    .mainHome .contacto .contactoVias {
      margin: 70px 0px 50px 0px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap-reverse;
      width: 100%; }
      .mainHome .contacto .contactoVias .contactoViasItem {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center; }
        .mainHome .contacto .contactoVias .contactoViasItem div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-bottom: 2vh; }
        .mainHome .contacto .contactoVias .contactoViasItem p, .mainHome .contacto .contactoVias .contactoViasItem h3, .mainHome .contacto .contactoVias .contactoViasItem i, .mainHome .contacto .contactoVias .contactoViasItem a {
          color: white;
          line-height: 1.2; }
          .mainHome .contacto .contactoVias .contactoViasItem p .a1, .mainHome .contacto .contactoVias .contactoViasItem p .a2, .mainHome .contacto .contactoVias .contactoViasItem p .a3, .mainHome .contacto .contactoVias .contactoViasItem h3 .a1, .mainHome .contacto .contactoVias .contactoViasItem h3 .a2, .mainHome .contacto .contactoVias .contactoViasItem h3 .a3, .mainHome .contacto .contactoVias .contactoViasItem i .a1, .mainHome .contacto .contactoVias .contactoViasItem i .a2, .mainHome .contacto .contactoVias .contactoViasItem i .a3, .mainHome .contacto .contactoVias .contactoViasItem a .a1, .mainHome .contacto .contactoVias .contactoViasItem a .a2, .mainHome .contacto .contactoVias .contactoViasItem a .a3 {
            color: white;
            transition: 1s; }
            .mainHome .contacto .contactoVias .contactoViasItem p .a1:hover, .mainHome .contacto .contactoVias .contactoViasItem p .a2:hover, .mainHome .contacto .contactoVias .contactoViasItem p .a3:hover, .mainHome .contacto .contactoVias .contactoViasItem h3 .a1:hover, .mainHome .contacto .contactoVias .contactoViasItem h3 .a2:hover, .mainHome .contacto .contactoVias .contactoViasItem h3 .a3:hover, .mainHome .contacto .contactoVias .contactoViasItem i .a1:hover, .mainHome .contacto .contactoVias .contactoViasItem i .a2:hover, .mainHome .contacto .contactoVias .contactoViasItem i .a3:hover, .mainHome .contacto .contactoVias .contactoViasItem a .a1:hover, .mainHome .contacto .contactoVias .contactoViasItem a .a2:hover, .mainHome .contacto .contactoVias .contactoViasItem a .a3:hover {
              color: #CE97FB; }
          .mainHome .contacto .contactoVias .contactoViasItem p .a2:hover, .mainHome .contacto .contactoVias .contactoViasItem h3 .a2:hover, .mainHome .contacto .contactoVias .contactoViasItem i .a2:hover, .mainHome .contacto .contactoVias .contactoViasItem a .a2:hover {
            color: #9BFBE1; }
          .mainHome .contacto .contactoVias .contactoViasItem p .a3:hover, .mainHome .contacto .contactoVias .contactoViasItem h3 .a3:hover, .mainHome .contacto .contactoVias .contactoViasItem i .a3:hover, .mainHome .contacto .contactoVias .contactoViasItem a .a3:hover {
            color: #FAA990; }

/*** Clientes - Carousel ***/
.clients {
  grid-area: clientes;
  padding: 40px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2vw 0vw 5vw 0vw; }
  .clients h2 {
    margin-bottom: 60px; }
  .clients .container {
    min-width: 100%; }

.slick-slide {
  margin: 0px 20px;
  width: 100%; }

.slick-slide img {
  width: 100%; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before, .slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.divFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  padding: 5vh 0 5vh 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #0e0e0e; }
  .divFooter .divFooter1 a {
    font-size: 20px;
    font-weight: 600;
    transition: 1s;
    color: white; }
    .divFooter .divFooter1 a img {
      margin-right: 5px;
      width: 3vw; }
    .divFooter .divFooter1 a:hover {
      color: #CE97FB; }
  .divFooter .divFooter1 p {
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    opacity: 0.3;
    text-align: end;
    margin-top: -10px; }
  .divFooter .divFooter2 h3 {
    color: #dbdada;
    font-size: 16px;
    font-weight: 600; }
  .divFooter .divFooter2 ul li a {
    color: #dbdada;
    font-size: 12px; }
  .divFooter .divFooter2 .l1:hover {
    transition: 1s;
    color: #FDDF7E; }
  .divFooter .divFooter2 .l2:hover {
    transition: 1s;
    color: #FAA990; }
  .divFooter .divFooter2 .l3:hover {
    transition: 1s;
    color: #9BFBE1; }
  .divFooter .divFooter2 .l4:hover {
    transition: 1s;
    color: #CE97FB; }
  .divFooter .divFooter2 i {
    padding-right: 10px; }
  .divFooter .divFooter3 h3 {
    color: #dbdada;
    font-size: 16px;
    font-weight: 600; }
  .divFooter .divFooter3 ul li a {
    color: #dbdada;
    font-size: 12px; }
    .divFooter .divFooter3 ul li a .redesSocialesLogo {
      height: 2vh;
      padding-right: 10px; }
  .divFooter .divFooter3 ul li .e1:hover {
    transition: 1s;
    color: #CE97FB; }
  .divFooter .divFooter3 ul li .e2:hover {
    transition: 1s;
    color: #F6A5EB; }
  .divFooter .divFooter3 ul li .e3:hover {
    transition: 1s;
    color: #FDDF7E; }
  .divFooter .divFooter3 ul li .e4:hover {
    transition: 1s;
    color: #FAA990; }

.credito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0e0e0e; }
  .credito .divLineal {
    width: 70%;
    height: 0;
    border-top: 0.1vh;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    margin: 0.5vh 0 0 0;
    display: flex;
    align-self: center;
    justify-self: center;
    border-color: #313131;
    border-style: solid; }
  .credito .copyright {
    font-size: 12px; }
  .credito p {
    margin: 1vh 0;
    color: #dbdada;
    font-size: 14px; }
    .credito p .a1, .credito .mainHome .contacto .contactoVias .contactoViasItem p .a2, .mainHome .contacto .contactoVias .contactoViasItem .credito p .a2, .credito p .mainHome .contacto .contactoVias .contactoViasItem h3 .a2, .credito p .mainHome .contacto .contactoVias .contactoViasItem i .a2, .credito p .mainHome .contacto .contactoVias .contactoViasItem a .a2, .credito .mainHome .contacto .contactoVias .contactoViasItem p .a3, .mainHome .contacto .contactoVias .contactoViasItem .credito p .a3, .credito p .mainHome .contacto .contactoVias .contactoViasItem h3 .a3, .credito p .mainHome .contacto .contactoVias .contactoViasItem i .a3, .credito p .mainHome .contacto .contactoVias .contactoViasItem a .a3 {
      color: #dbdada; }
      .credito p .a1:hover, .credito .mainHome .contacto .contactoVias .contactoViasItem p .a2:hover, .mainHome .contacto .contactoVias .contactoViasItem .credito p .a2:hover, .credito p .mainHome .contacto .contactoVias .contactoViasItem h3 .a2:hover, .credito p .mainHome .contacto .contactoVias .contactoViasItem i .a2:hover, .credito p .mainHome .contacto .contactoVias .contactoViasItem a .a2:hover, .credito .mainHome .contacto .contactoVias .contactoViasItem p .a3:hover, .mainHome .contacto .contactoVias .contactoViasItem .credito p .a3:hover, .credito p .mainHome .contacto .contactoVias .contactoViasItem h3 .a3:hover, .credito p .mainHome .contacto .contactoVias .contactoViasItem i .a3:hover, .credito p .mainHome .contacto .contactoVias .contactoViasItem a .a3:hover {
        color: #CE97FB; }
    .credito p .a2 {
      color: #dbdada;
      transition: 1s; }
      .credito p .a2:hover {
        color: #FAA990; }

.formulario {
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.42);
  position: fixed;
  top: 1px;
  z-index: 20;
  justify-content: center;
  align-items: center; }
  .formulario .formularioForm {
    width: auto;
    height: 90%;
    background-color: white;
    box-shadow: white 0px 0px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .formulario .formularioForm iframe {
      border-radius: 5px; }
    .formulario .formularioForm .formularioFormCerrar {
      position: absolute;
      right: 10px;
      top: 5px; }
      .formulario .formularioForm .formularioFormCerrar button {
        border: solid 2px #faa990;
        border-radius: 50px;
        box-shadow: #faa990 0px 0px 10px; }

/* MEDIA QUERY - TABLET y DESKTOP S */
@media screen and (max-width: 1024px) {
  header .bg-dark {
    height: auto; }
  header nav div a img {
    width: 50px;
    margin-left: 0px; }
  header .bg-dark .navBsUl {
    font-size: 16px; }
    header .bg-dark .navBsUl a:hover {
      border-top: solid 3px transparent; }
  .mainHome {
    grid-template-rows: 85vh auto auto auto auto; }
    .mainHome .presentacionContenedor .presentacionH p {
      font-size: 35px;
      margin-left: -5px;
      margin-bottom: -13px; }
    .mainHome .presentacionContenedor .presentacionH h1 {
      font-size: 45px; }
    .mainHome .presentacionContenedor .presentacionH .presentacionP {
      width: auto; }
      .mainHome .presentacionContenedor .presentacionH .presentacionP #presentacionPGif {
        width: 60px;
        padding-left: 3px; }
      .mainHome .presentacionContenedor .presentacionH .presentacionP #presentacionPsubtitulo {
        font-size: 13px;
        line-height: 1.4;
        padding: 0px 0px 15px 15px; }
    .mainHome #servicios .services {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 43vh 43vh 43vh 43vh;
      grid-template-areas: "encabezado encabezado" "uno dos" "tres cuatro" "cinco seis" "siete ocho"; }
      .mainHome #servicios .services h2 {
        font-size: 50px; }
      .mainHome #servicios .services h3 {
        font-size: 25px; }
      .mainHome #servicios .services p {
        font-size: 15px; }
      .mainHome #servicios .services .servicesContenidoGif {
        width: 100px !important; }
    .mainHome .adn .tituloAdn {
      font-size: 35px; }
    .mainHome .adn .tituloAdn2 {
      font-size: 50px; }
    .mainHome .adn div .card {
      margin: 0px 5px;
      height: auto;
      width: 30%; }
      .mainHome .adn div .card img {
        width: 80px; }
      .mainHome .adn div .card h4 {
        font-size: 17px; }
      .mainHome .adn div .card p {
        font-size: 15px; }
    .mainHome .clients h2 {
      font-size: 50px; }
    .mainHome .contacto .contactoH h2 {
      font-size: 50px; }
    .mainHome .contacto .contactoVias {
      margin-bottom: 10px; }
      .mainHome .contacto .contactoVias .contactoViasItem {
        width: 45%;
        margin-bottom: 40px; }
      .mainHome .contacto .contactoVias h3 {
        font-size: 20px; }
      .mainHome .contacto .contactoVias p, .mainHome .contacto .contactoVias a {
        font-size: 16px; }
      .mainHome .contacto .contactoVias i {
        padding-bottom: 8px; } }

/* MEDIA QUERY - MOBILE */
@media only screen and (max-width: 600px) {
  header .bg-dark {
    height: auto; }
  header nav div a img {
    width: 14vw;
    margin-left: 0px; }
  header .bg-dark .navBsUl {
    font-size: 16px; }
    header .bg-dark .navBsUl a:hover {
      border-top: solid 3px transparent; }
  .mainHome {
    grid-template-rows: 85vh auto auto auto auto; }
    .mainHome .presentacionContenedor {
      align-content: flex-start;
      padding: 0px; }
      .mainHome .presentacionContenedor .presentacionH {
        width: 85%;
        height: 50%;
        padding-top: 30px; }
        .mainHome .presentacionContenedor .presentacionH p {
          font-size: 30px;
          margin-left: -5px;
          margin-bottom: -13px; }
        .mainHome .presentacionContenedor .presentacionH h1 {
          font-size: 40px; }
        .mainHome .presentacionContenedor .presentacionH .presentacionP {
          margin-top: 10px;
          bottom: auto;
          width: auto; }
          .mainHome .presentacionContenedor .presentacionH .presentacionP #presentacionPGif {
            width: 60px;
            padding-left: 3px; }
          .mainHome .presentacionContenedor .presentacionH .presentacionP #presentacionPsubtitulo {
            font-size: 13px;
            line-height: 1.4;
            padding: 0px 0px 15px 15px; }
      .mainHome .presentacionContenedor .presentacionDescarga {
        width: 85%;
        padding: 0px;
        margin-top: 10px; }
        .mainHome .presentacionContenedor .presentacionDescarga .presentacionDescargaGif {
          width: 85%;
          height: auto;
          margin: 0px 7%; }
    .mainHome #servicios .services {
      display: none; }
    .mainHome #servicios .serviciosMobile {
      display: block;
      padding: 10px;
      margin-bottom: 40px; }
      .mainHome #servicios .serviciosMobile .hSeccion {
        font-size: 40px;
        margin: 30px 0px; }
      .mainHome #servicios .serviciosMobile .accordion-item {
        border-color: #2a2a2a;
        box-shadow: #363636 0px 0px 10px;
        background-color: black; }
        .mainHome #servicios .serviciosMobile .accordion-item .accordion-button {
          background-image: linear-gradient(45deg, #ce97fb, #f6a5eb9d, #9bfbe192, #67ebfa);
          color: black;
          font-weight: 700;
          border-radius: 5px 5px 0px 0px;
          position: relative; }
          .mainHome #servicios .serviciosMobile .accordion-item .accordion-button .serviciosMobileGif {
            width: 50px;
            margin-right: 10px; }
            .mainHome #servicios .serviciosMobile .accordion-item .accordion-button .serviciosMobileGif img {
              border-radius: 100px;
              border: solid 1px black; }
          .mainHome #servicios .serviciosMobile .accordion-item .accordion-button .serviciosMobileArrow {
            width: 14px;
            position: absolute;
            right: 20px;
            transition: 0.7s; }
        .mainHome #servicios .serviciosMobile .accordion-item .collapsed {
          background-image: none;
          background-color: black;
          color: white; }
        .mainHome #servicios .serviciosMobile .accordion-item .accordion-button::after {
          background-image: none; }
        .mainHome #servicios .serviciosMobile .accordion-item .accordion-button:not(.collapsed)::after {
          background-image: none; }
        .mainHome #servicios .serviciosMobile .accordion-item .accordion-button:focus {
          box-shadow: none; }
          .mainHome #servicios .serviciosMobile .accordion-item .accordion-button:focus .serviciosMobileArrow {
            transform: rotate(90deg); }
      .mainHome #servicios .serviciosMobile .accordion-body {
        border: solid 4px;
        border-image: linear-gradient(to bottom, #CE97FB, #67EBFA 100%) 1;
        border-top: none;
        background-color: black;
        color: white; }
    .mainHome .adn {
      padding-top: 20px; }
      .mainHome .adn .tituloAdn {
        font-size: 40px;
        margin-bottom: -30px; }
      .mainHome .adn .tituloAdn2 {
        font-size: 50px;
        margin-bottom: 20px; }
      .mainHome .adn div .card {
        width: 90%;
        margin: 20px;
        height: auto;
        padding: 20px 30px; }
        .mainHome .adn div .card img {
          width: 100px;
          margin-bottom: 20px; }
        .mainHome .adn div .card h4 {
          font-size: 25px; }
        .mainHome .adn div .card p {
          font-size: 16px; }
    .mainHome .clients h2 {
      font-size: 40px;
      margin-bottom: 40px; }
    .mainHome .contacto {
      padding-bottom: 50px; }
      .mainHome .contacto .contactoH p {
        font-size: 16px;
        margin-bottom: -10px; }
      .mainHome .contacto .contactoH h2 {
        font-size: 40px; }
      .mainHome .contacto .contactoVias {
        margin: 10px 0px; }
        .mainHome .contacto .contactoVias .contactoViasItem {
          width: 90%;
          padding: 25px 0px;
          border-top: solid 1px #4a4a4a;
          margin-bottom: 0px; }
          .mainHome .contacto .contactoVias .contactoViasItem i {
            padding-bottom: 7px;
            font-size: 18px; }
          .mainHome .contacto .contactoVias .contactoViasItem h3 {
            font-size: 19px; }
          .mainHome .contacto .contactoVias .contactoViasItem p {
            font-size: 16px; }
        .mainHome .contacto .contactoVias .instagram {
          border-top: none; }
    .mainHome .formulario .formularioForm {
      max-width: 90%; }
  .divFooter {
    flex-direction: column;
    align-items: center;
    grid-row-gap: 30px;
    padding-top: 50px; }
    .divFooter .divFooter1 a img {
      width: 30px; } }
