.divFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding: 5vh 0 5vh 0;
    font-family: $font-principal;
    background-color: rgb(14, 14, 14);;

    .divFooter1 {
        a {
            font-size: 20px;
            font-weight: 600;
            transition: 1s;
            color: white;

            img {
                margin-right: 5px;            
                width: 3vw;
            }

            &:hover{
                color: #CE97FB;
            }
        }

        p {
            font-size: 25px;
            font-family: $font-secundaria;
            font-style: italic;
            opacity: 0.3;
            text-align: end;
            margin-top: -10px;
        }
    }

    .divFooter2 {
        h3 {
            color: $color-secundario;
            font-size: 16px;
            font-weight: 600;
        }

        ul li a {
            color: $color-secundario;
            font-size: 12px;
        }

        .l1:hover{
            transition: 1s;
            color: #FDDF7E;
        }

        .l2:hover{
            transition: 1s;
            color: #FAA990;
        }
        
        .l3:hover{
            transition: 1s;
            color: #9BFBE1;
        }
        
        .l4:hover{
            transition: 1s;
            color: #CE97FB;
        }

        i {
            padding-right: 10px;
        }
    }
    
    .divFooter3 {
        h3 {
            color: rgb(219, 218, 218);
            font-size: 16px;
            font-weight: 600;
        }
        
        ul li {
            a {
                color: $color-secundario;
                font-size: 12px;

                .redesSocialesLogo{
                    height: 2vh;
                    padding-right: 10px;
                }
            }
        
            .e1:hover{
                transition: 1s;
                color: #CE97FB;
            }

            .e2:hover{
                transition: 1s;
                color: #F6A5EB;
            }

            .e3:hover{
                transition: 1s;
                color: #FDDF7E;
            }

            .e4:hover{
                transition: 1s;
                color: #FAA990;
            }
        }
    }
}

.credito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 14);

    .divLineal {
        @include divLineal(70%, 0, 0.1vh, 0, 0.5vh 0 0 0)
    }

    .copyright {
        font-size: 12px;
    }
    
    p {
        margin: 1vh 0;
        color: $color-secundario;
        font-size: 14px;

        .a1 {
            color: $color-secundario;
            
            &:hover{
                color: #CE97FB;
            }
        }

        .a2 {
            color: $color-secundario;
            transition: 1s;

            &:hover{
                color: #FAA990;
            }
        }
    }
}