.whatsappfijo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 19;
    background-color: transparent;
    border: none;

    i {
        filter: drop-shadow(0 0.2vh 0.2vh #797979);
        color: #fff;
    }

    i:hover {
        color: #25D366; 
        transition: 1s;
    }
}

.contacto {
    .btn {
        color: #fff;
        border: 3px solid;
        text-transform: uppercase;
        font-weight: 700;
        border-image: linear-gradient(to bottom, #CE97FB, #67EBFA 100%) 1;
        padding: 10px 20px;

        &:hover{
            transform: scale(1.1);
            border-image: linear-gradient(to bottom, #67EBFA, #CE97FB 100%) 1;
            transition: 1s;
        }        
    }
}