/* MEDIA QUERY - TABLET y DESKTOP S */
@media screen and (min-width: 601px) and (max-width: 1024px) {

    /* Cabecera plegable */
    .menuScroll {
        transition: transform 0.4s;
        background-color: $background-color-principal;
    }
          
    .scroll-up header {
        transform: none;
    }

    .scroll-down header {
        transform: translate3d(0, -100%, 0);
    }

    header {
        position: fixed;
        right: 0px;
        left: 0px;
        transition: transform 0.4s;

        nav div a img {
            width: 50px;
            margin-left: 0px;
        }

        .bg-dark {
            height: 70px;

            .navBsUl {
                font-size: 16px;
                a:hover {
                    border-top: solid 3px transparent;
                }
            }
        }
    }

    .mainHome {
        grid-template-rows: 500px auto auto auto auto;

        .presentacionContenedor {
            padding-top: 70px;

            .presentacionH {
                
                p {                    
                    font-size: 35px;
                    margin-left: -5px;
                    margin-bottom: -13px;
                }

                h1 {
                    font-size: 45px;
                }

                .presentacionP {
                    width: auto;
                    bottom: auto;

                    #presentacionPGif {
                        width: 60px;
                        padding-left: 3px;
                    }
                    
                    #presentacionPsubtitulo {
                        font-size: 13px;
                        line-height: 1.4;
                        padding: 0px 0px 15px 15px;
                    }
                }
            }            
        }

        #servicios { 
            .services {
                display: none;
            }

            .serviciosMobile {
                display: block;
                padding: 10px;
                margin: 0px 70px 40px 70px;

                .hSeccion {
                    font-size: 40px;
                    padding: 12vh 0px 40px 0px;
                }

                .accordion-item {
                    border-color: rgb(42, 42, 42);
                    box-shadow: rgb(54, 54, 54) 0px 0px 10px;
                    background-color: $background-color-principal;

                    .accordion-button {
                        background-image: linear-gradient(45deg, #ce97fb, #f6a5eb9d, #9bfbe192,#67ebfa);
                        color: $background-color-principal;
                        font-weight: 700;
                        border-radius: 5px 5px 0px 0px;
                        position: relative;
        
                        .serviciosMobileGif {
                            width: 50px;
                            margin-right: 10px;

                            img {
                                border-radius: 100px;
                                border: solid 1px black;
                            }

                        }

                        .serviciosMobileArrow {
                            width: 14px;
                            position: absolute;
                            right: 20px;
                            transition: 0.7s;
                        }                        
                    }

                    .collapsed {
                        background-image: none;
                        background-color: $background-color-principal;
                        color: $color-principal;
                    }

                    .accordion-button::after { 
                        background-image: none;
                    }

                    .accordion-button:not(.collapsed)::after {
                        background-image: none;
                    }

                    .accordion-button:focus {
                        box-shadow: none;
                        
                        .serviciosMobileArrow {
                            transform: rotate(90deg);
                            
                        }
                    }
                }

                .accordion-body {
                    border: solid 4px;
                    border-image: linear-gradient(to bottom, #CE97FB, #67EBFA 100%) 1;
                    border-top: none;
                    background-color: $background-color-principal;
                    color: $color-principal;                    
                }
            }
        }

        .adn {

            .tituloAdn {
                font-size: 35px;
                padding-top: 6vh;
            }
    
            .tituloAdn2 {
                font-size: 50px;
                padding-bottom: 20px;
            }

            div {

                .card {
                    margin: 0px 5px;
                    height: auto;
                    width: 30%;

                    img {
                        width: 80px;
                    }

                    h4 {
                        font-size: 17px;
                    }

                    p {
                        font-size: 15px;
                    }
                    
                }
            }
        }

        .clients { 
            padding-bottom: 0px;
            margin-bottom: 0px;

            h2 {
                font-size: 50px;
                padding-top: 6vh;
            }
        }

        .contacto {

            .contactoH {
                padding-top: 10vh;
                
                h2 {
                    font-size: 50px;
                }
            }

            .contactoVias {
                margin-bottom: 10px;

                .contactoViasItem {
                    width: 45%;
                    margin-bottom: 40px;
                }

                h3 {
                    font-size: 20px;
                }

                p, a {
                    font-size: 16px;
                }

                i {
                    padding-bottom: 8px;
                }
            }
        }
    }
}

/* MEDIA QUERY - MOBILE */
@media only screen and (max-width: 600px) {

    /* Cabecera plegable */
    .menuScroll {
        transition: transform 0.4s;
        background-color: $background-color-principal;
    }
          
    .scroll-up header {
        transform: none;
    }

    .scroll-down header {
        transform: translate3d(0, -100%, 0);
    }

    header { 
        position: fixed;
        right: 0px;
        left: 0px;
        transition: transform 0.4s;

        nav div a img {
            width: 14vw;
            margin-left: 0px;
        }

        .bg-dark {
            height: 70px;
        
            .navBsUl {
                font-size: 16px;
                a:hover {
                    border-top: solid 3px transparent;
                }
            }
        } 
    }

    .mainHome { 
        grid-template-rows: 99vh auto auto auto auto;

        .presentacionContenedor {
            align-content: flex-start;
            padding: 0px;
            margin-top: 70px;

            .presentacionH {
                width: 85%;
                height: 50%;
                padding-top: 30px;

                p {                    
                    font-size: 30px;
                    margin-left: -5px;
                    margin-bottom: -13px;
                }

                h1 {
                    font-size: 40px;
                }

                .presentacionP {
                    margin-top: 10px;
                    bottom: auto;
                    width: auto;

                    #presentacionPGif {
                        width: 60px;
                        padding-left: 3px;
                    }
                    
                    #presentacionPsubtitulo {
                        font-size: 13px;
                        line-height: 1.4;
                        padding: 0px 0px 15px 15px;
                    }
                }
            }

            .presentacionDescarga {
                width: 85%;
                padding: 0px;
                margin-top: 2vh;
                height: 45%;

                .presentacionDescargaGif {
                    width: 85%;
                    height: auto;
                    margin: 0px 7%;
                }
            }

            
        }

        #servicios {
            
            .services {
                display: none;
            }

            .serviciosMobile {
                display: block;
                padding: 10px;
                margin-bottom: 60px;

                .hSeccion {
                    font-size: 40px;
                    padding: 70px 0px 35px 0px;
                }

                .accordion-item {
                    border-color: rgb(42, 42, 42);
                    box-shadow: rgb(54, 54, 54) 0px 0px 10px;
                    background-color: $background-color-principal;

                    .accordion-button {
                        background-image: linear-gradient(45deg, #ce97fb, #f6a5eb9d, #9bfbe192,#67ebfa);
                        color: $background-color-principal;
                        font-weight: 700;
                        border-radius: 5px 5px 0px 0px;
                        position: relative;
        
                        .serviciosMobileGif {
                            width: 50px;
                            margin-right: 10px;

                            img {
                                border-radius: 100px;
                                border: solid 1px black;
                            }

                        }

                        .serviciosMobileArrow {
                            width: 14px;
                            position: absolute;
                            right: 20px;
                            transition: 0.7s;
                        }                        
                    }

                    .collapsed {
                        background-image: none;
                        background-color: $background-color-principal;
                        color: $color-principal;
                    }

                    .accordion-button::after { 
                        background-image: none;
                    }

                    .accordion-button:not(.collapsed)::after {
                        background-image: none;
                    }

                    .accordion-button:focus {
                        box-shadow: none;
                        
                        .serviciosMobileArrow {
                            transform: rotate(90deg);
                            
                        }
                    }
                }

                .accordion-body {
                    border: solid 4px;
                    border-image: linear-gradient(to bottom, #CE97FB, #67EBFA 100%) 1;
                    border-top: none;
                    background-color: $background-color-principal;
                    color: $color-principal;                    
                }
            }
        }

        .adn {
            padding-bottom: 70px;

            .tituloAdn{
                font-size: 40px;
                margin-bottom: -27px;
                margin-top: 70px;
            }
    
            .tituloAdn2 {
                font-size: 50px;
                margin-bottom: 35px;
            }

            div {
    
                .card {
                    width: 90%;
                    margin: 20px;
                    height: auto;
                    padding: 20px 30px;

                    img {
                        width: 100px;
                        margin-bottom: 20px;
                    }

                    h4 {
                        font-size: 25px;
                    }
    
                    p {
                        font-size: 16px;
                    }

                }
            }
        }

        .clients { 
            padding-bottom: 0px;
            margin-bottom: 0px;
            
            h2 {
                font-size: 40px;
                margin-bottom: 35px;
                padding-top: 70px;
            }
        }

        .contacto {
            padding-bottom: 70px;

            .contactoH {
                p {
                    font-size: 16px;
                    margin-bottom: -10px;
                    padding: 70px 10px 0 10px;
                }

                h2 {
                    font-size: 40px;
                }
            }

            .contactoVias {
                margin: 10px 0px;

                .contactoViasItem {
                    width: 90%;
                    padding: 25px 0px;
                    border-top: solid 1px rgb(74, 74, 74);
                    margin-bottom: 0px;

                    i {
                        padding-bottom: 7px;
                        font-size: 18px;
                    }

                    h3 {
                        font-size: 19px;
                    }
    
                    p { 
                        font-size: 16px;
                    }

                }

                .instagram {
                    border-top: none;
                }
            }
        }

        .formulario .formularioForm {
            max-width: 90%;
        }
    }

    .divFooter {
        flex-direction: column;
        align-items: center;
        grid-row-gap: 30px;
        padding-top: 50px;

        .divFooter1 a img {
            width: 30px;
            padding-bottom: 6px;
        }

        .divFooter2, .divFooter3 {
            align-self: flex-start;
            margin-left: 23%;

            h3 {
                font-size: 18px;
            }
            
            ul li a {
                font-size: 15px;
            }
        }
    }
}