/*MEDIA QUERY - DESKTOP*/

/*
@media screen and (min-width: 769px){


    //CONTACTO
    .contacto{
        justify-content: center;
        align-items: center;
        padding: 10vh 0;
    }

    .contactoFlex{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "sede email wpp";
        padding-bottom: 10vh;

        .sede{
            grid-area: sede;
        }

        .email{
            grid-area: email;
        }

        .whatsapp{
            grid-area: wpp;
        }

        p{
            font-size: 18px;
        }
    }
    
}

*/


/* MEDIA QUERY - MOBILE */

@media only screen and (max-width: 600px) {

    footer {
        display: none !important;
    }

    header { 
        .bg-dark {
            height: auto;
        }

        nav div a img {
            width: 14vw;
            margin-left: 0px;
        }
    }

    .mainHome { 

        .presentacionContenedor {
            align-content: flex-start;
            padding: 0px;

            .presentacionH {
                width: 85%;
                height: 50%;

                p {                    
                    font-size: 26px;
                    margin-left: -5px;
                    margin-bottom: -13px;
                }

                h1 {
                    font-size: 35px;
                }

                .presentacionP {
                    margin-top: 10px;
                    bottom: auto;
                    width: 100%;

                    #presentacionPGif {
                        width: 60px;
                        padding-left: 3px;
                    }
                    
                    #presentacionPsubtitulo {
                        font-size: 13px;
                        line-height: 1.4;
                        padding: 0px 0px 15px 15px;
                    }
                }
            }

            .presentacionDescarga {
                width: 85%;
                padding: 0px;
                margin-top: 10px;

                .presentacionDescargaGif {
                    width: 65%;
                    height: auto;
                    margin: 0px 15%;
                }
            }

            
        }

        .services {
            grid-template-columns: 100%;
            grid-template-rows: auto repeat(8, 300px);
            grid-template-areas: "encabezado"
                                 "uno"
                                 "dos"
                                 "tres" 
                                 "cuatro"
                                 "cinco"
                                 "seis"
                                 "siete"
                                 "ocho";

            h2 {
                font-size: 55px;
                margin: 20px 0px;
            }

            h3 {
                font-size: 30px;
                bottom: 12% !important;
            }

            p {
                font-size: 16px;
                padding: 5px 0px;
            }

            .servicesContenidoGif {
                height: 150px !important;
                width: 150px !important;
                top: 12% !important;
            }
        }
    }



}