* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* GENERALES */

body {
    background-color: black;

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
    }

    p {
        font-family: $font-principal;
        color: $color-principal;
        font-size: 1.2vw;
    }

    h2{
        font-family: $font-principal;
        color: $color-principal;
        font-size: 5vw;
        font-weight: 800;
        text-align: center;
    }

    h3 {
        font-family: $font-principal;
        color: $color-principal;
        font-size: 2.3vw;
        font-weight: bolder;
        text-shadow: rgb(66, 66, 66) 0px 0px 10px;
    }
}
